# PyCharm specific files
.idea/
__pycache__/

# macOS
.DS_Store

# Virtual environments
.venv/
*.env

# Client portal
clientportal/

# Data
/data

# Test artifacts
test_dir/

# Prompts
.github/prompts/

# Logs
logs/
.coverage
