# PyCharm specific files
.idea/
__pycache__/

# macOS
.DS_Store

# Virtual environments
.venv/
*.env

# Client portal
clientportal/

# Data
/data

# Prompts
.github/prompts/*.prompt.md

# Trading View fetching
tw_fetching.py

# Logs
logs/
.coverage

# Test artifacts
test_dir/
*.lock
